[Unit]
Description=Vehicle Runner
After=network.target
Wants=network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/VehicleRunner
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
